body {
    background-color: #101827;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}
h1 {
    font-size: 60px;
    letter-spacing: 8px;
    margin-bottom: 5px;
}
p {
    color: #d8c7a3;
    font-size: 18px;
}
h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}
button {
    background-color: #f8f5ef;
    color: #101827;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: #d8c7a3;
    transform: translateY(-3px);
}
@media (max-width: 600px) {

    body {
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
        font-size: 42px;
        letter-spacing: 5px;
    }

    p {
        font-size: 16px;
    }

    h2 {
        margin-top: 35px;
        margin-bottom: 20px;
    }

    button {
        width: 90%;
        max-width: 300px;
        padding: 15px 20px;
        margin: 8px auto;
        display: block;
    }

}
